

<h1>Pictures</h1> 
<h2><%= @pictures.count %> Uploded Pictures</h2>

<table>
<tbody>
<div class="container">
  <div class="row">
    <% @pictures.each do |picture| %>
          
            
            <% picture.images.each do |image|%>
              <div class="col-md-4">
              <div class="card h-100">
              <%= image_tag(image, class:'card-img') %>
              <div class="card-body">
              <p><%= link_to 'Show', picture %></p>
              <p><%= link_to 'Edit', edit_picture_path(picture) %></p>
              <p><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></p>
              </div> 
            </div>
            </div>
            <% end %>
          
    <% end %>
    </div>
    </div>
    </tbody>

</table>


<%= link_to 'Upload New Picture', new_picture_path %>