
<header class="navbar">
    <div class="container">
        <%= link_to "Noah's Image Repo", '#', id: "logo" %>
        <nav>
            <ul class="nav">
                <% if logged_in? %> 
                    <li><%= link_to "Gallery", pictures_url %></li>
                    <li><%= link_to "Upload Image", new_picture_url %></li> 
                
                    <li class="dropdown">
                        <button class="dropbtn">Account 
                        <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <%= link_to "Profile", current_user %>
                            <%= link_to "Settings", edit_user_path(current_user) %>
                            <%= link_to "Log out", logout_path, method: :delete %>
                        </div>
                    </li>
                <% else %>
                    <li><%= link_to "Home", root_path %></li>
                    <li><%= link_to "Log in", login_path %></li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>